@use "../abstracts/variables";

.footer {
  background-color: variables.$color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    // inline elements behave like text
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: variables.$color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }
    &:hover,
    &:active {
      color: variables.$color-primary;
      box-shadow: 0 1rem 2rem rgba($color: variables.$color-black, $alpha: 0.4);
    }
  }
}
