@use "../abstracts/variables";
@use "../abstracts/mixins";

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba($color: variables.$color-black, $alpha: 0.8);
  top: 0;
  left: 0;
  z-index: 3000;

  &__content {
    @include mixins.absCenter;

    width: 75%;
    background-color: variables.$color-white;
    box-shadow: 0 2rem 4rem rgba($color: variables.$color-black, $alpha: 0.2);
    border-radius: 0.3rem;
    display: table;
    overflow: hidden;
  }

  &__left {
    width: 33.3333333%;
    display: table-cell;
    vertical-align: middle;
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // Automatically creates two columns
    column-count: 2;
    column-gap: 4rem; //1em === 14px default is 1em

    // Nice for vertical separation line
    column-rule: 1px solid variables.$color-grey-light-2;

    // Hyphenates the text if it goes beyond the end of the space
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
