@use "../abstracts/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Universal selector does not get inheritance, use border-box on body instead in case we need to change border box later - we want the box-sizing to inherit the parent's box sizing*/
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mixins.respond(phone) {
    font-size: 50%;
  }
  @include mixins.respond(tab-port) {
    font-size: 60%;
  }
  @include mixins.respond(tab-land) {
    font-size: 70%;
  }
  @include mixins.respond(big-desktop) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}
