*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Universal selector does not get inheritance, use border-box on body instead in case we need to change border box later - we want the box-sizing to inherit the parent's box sizing*/
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
