@use "../abstracts/variables";
@use "../abstracts/mixins";

.section-about {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0;
  //   Apply negative margin to move it up toward top (-25 is difference between 95 and 75 in header)
  margin-top: -25vh;

  @include mixins.respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.801),
      rgba(variables.$color-primary-dark, 0.793)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;

  // Direct child of .section-features is 'row' - selects row only
  & > * {
    transform: skewY(7deg);
  }
  @include mixins.respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-tours {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0 15rem 0;

  margin-top: -10rem;

  @include mixins.respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  // Necessary to correctly position the bg-video
  position: relative;
  padding: 15rem 0;

  @include mixins.respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );

  @include mixins.respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  // Solid color gradient
  background-image: linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.9) 0%,
      rgba(variables.$color-white, 0.9) 49.9%,
      transparent 50%,
      transparent 100%
    ),
    url(../../img/nat-10.jpg);
  background-size: 100%; // 100% of width same as cover
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color: variables.$color-black, $alpha: 0.2);
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
